# dependencies
node_modules/

# build files
dist/
build/

# env files
.env

# vscode
.vscode/

# logs
npm-debug.log*

# Audio Files
# *.mp3
# *.wav

# Video Files
# *.mp4
# *.mov
# *.avi
# *.mkv
# *.webm

# Firebase Admin Secret
backend/config/firebase-service-account.json
